{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% if "ROLE_INSTRUCTOR" in app.user.roles %}
                <h1>Courses I Am Teaching</h1>
                <table class="table-striped">
                    {% for course in courses %}
                    <tr><td>{{ course.name }}</td>
                    <td>{{ course.startDate|date('m-d-Y') }}</td>
                    <td>{{ course.endDate|date('m-d-Y') }}</td>
                    <td>{{ course.meetingTime|date('G:i') }}</td>
                    {% if "ROLE_INSTRUCTOR" in app.user.roles %}<td><a href="{{ path('course_view', {'courseid':course.id}) }}">View/Edit Course Settings/Assignments</a></td>{% endif %}
                    <td><a href="{{ path('dash_view', {'courseid':course.id}) }}">Go to course dashboard</a></td>
                    </tr>
                    {% endfor %}
                </table>
                <a href="{{ path('course_new') }}" class="btn btn-primary">Create a New Class</a>
            {% endif %}
            {% if dashboards %}
            <h1>Courses I Am Enrolled In</h1>
            <table class="table-striped">
            {% for dash in dashboards %}
                <tr>
                <td>{{ dash.course.name }}</td>
                <td><a href="{{ path('dash_view', {'courseid':dash.course.id}) }}">Go to my dashboard</a></td>
                </tr>
            {% endfor %}
            </table>
            {% endif %}
            <a href="{{ path('enroll_search') }}" class="btn btn-primary">Enroll in a Class</a>
        </div>
    </div>
{% endblock %}
