{% extends 'base.html.twig' %}
{% block body %}


        <div class="row">
        <div class="col-md-12">
            <h1>{{ dash.course.name }}</h1>
            Course Stats:
            <ul class="list-group list-inline">
                <li class="list-group-item">Max Score: {{ dash.course.maxScoreEarned }}</li>
                <li class="list-group-item">Median Score: {{ dash.course.medianScoreEarned }}</li>
                <li class="list-group-item">Min Score: {{ dash.course.minScoreEarned }}</li>
            </ul>
            <a href="{{ path('recompute_course_stats', {'courseid':dash.course.id}) }}" class="btn btn-primary btn-bg">Recompute Class Statistics</a>
            <h2>Students</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Total Points</th>
                    {% for category in dash.course.categories %}
                    <th scope="col" colspan="2"><a href="javascript:void(0);" class="viewCategory" data-id="{{ category.id }}">{{ category.name }}</a> <span class="categoryStats">( {{ category.maxPoints }} points total ) </span></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for dashboard in dashlist if dashboard.role == 1%}
                <tr><td rowspan="3">{{ dashboard.user.firstname }} {{ dashboard.user.lastname }}<br>
                        {% if dashboard.feedbacklink %}<a href="{{ dashboard.feedbacklink }}" target="_blank"><span class="glyphicon glyphicon-pencil"></span></a>{% else %} <span class="glyphicon glyphicon-pencil"></span>{% endif %}
                        {% if dashboard.projectlink %}<a href="{{ dashboard.projectlink }}" target="_blank"><span class="glyphicon glyphicon-link"></span></a> {% else %}<span class="glyphicon glyphicon-ban-circle"></span>{% endif %}<br>
                        <a href="javascript:void(0);" class="btn btn-xs btn-info">Update Feedback Link</a><br>
                        Quick Points: <a href="javascript:void(0);" class="quickpts badge" role="button" data-id="{{ dashboard.id }}">{{ dashboard.quickPoints }}</a>
                    </td>
                    <td rowspan="3">{{ dashboard.courseScore }}</td>
                {% for category in dash.course.categories %}
                    <td colspan="2">
                        {% if category.maxScoreEarned > 0 %}
                        <div class="myprogress">

                            {% set catProgress = (progresslist[dashboard.user.id]['progressList'][category.id].pointsEarned - category.minScoreEarned)/(category.maxScoreEarned - category.minScoreEarned) * 100 %}

                            <div class="progressIndicator" style="width:{{ catProgress }}%;">
                            </div>

                        </div>
                        <div class="progressCaption" style="margin-left:{{ catProgress }}%;">
                                {{ progresslist[dashboard.user.id]['progressList'][category.id].pointsEarned }}
                        </div>
                        {% else %}
                            Category Not Yet Started
                        {% endif %}

                    </td>
                {% endfor %}
                </tr>
                <tr>
                {% for category in dash.course.categories %}
                    <td>Submitted: {% if progresslist[dashboard.user.id]['progressList'][category.id].submissions > 0 %}<a href="javascript:void(0);" class="evaluateRead badge" role="button" data-uid="{{ dashboard.user.id }}" data-cid="{{ category.id }}">{{ progresslist[dashboard.user.id]['progressList'][category.id].submissions }}</a>{% endif %}</td>
                    <td>Notifications: <a href="javascript:void(0);" class="badge notify_catview" data-id="{{ progresslist[dashboard.user.id]['progressList'][category.id].id }}">{{ progresslist[dashboard.user.id]['progressList'][category.id].notifications|length }}</a></td>
                {% endfor %}
                </tr>
                <tr>
                {% for category in dash.course.categories %}
                    <td>Unreviewed: {% if progresslist[dashboard.user.id]['progressList'][category.id].unread > 0 %} <a href="javascript:void(0);" class="evaluateUnread badge" role="button" data-uid="{{ dashboard.user.id }}" data-cid="{{ category.id }}"> {{ progresslist[dashboard.user.id]['progressList'][category.id].unread }}</a>{% endif %}</td>
                    <td><a href="javascript:void(0);" class="btn btn-info btn-block btn-xs notify" data-id="{{ progresslist[dashboard.user.id]['progressList'][category.id].id }}">Notify</a></td>
                {% endfor %}
                </tr>

                {% endfor %}
                </tbody>
            </table>

            <h2>Pending Students</h2>
            <table>
                {% for dashboard in dashlist if dashboard.role == 0%}
                    <tr><td>{{ dashboard.user.firstname }} {{ dashboard.user.lastname }}</td><td><a href="{{ path('approve_student', {'userid':dashboard.user.id, 'courseid':dashboard.course.id}) }}">Enroll Student</a></td></tr>
                {% endfor %}
            </table>
        </div>
        </div>

        {# end of instructor dashboard#}

    <div id="submitModal" class="modal fade" tabindex="-1" role="dialog">

    </div>

    <div id="catModal" class="modal fade" tabindex="-1" role="dialog">

    </div>

    <div id="reviewModal" class="modal fade" tabindex="-1" role="dialog">

    </div>
{% endblock %}

{% block javascripts %}
<script language="JavaScript">
    $(document).ready(function() {

        $('#calendar').fullCalendar({
        });

        $('.submitAssignment').click( function() {
            var catId = $(this).data('id');
            var url="{{ path( 'submission_new', { 'categoryid':'catId'}) }}";
            url = url.replace( "catId", catId );
            $('#submitModal').load(url);
        });


        $('.evaluateUnread').click( function() {
            var userId = $(this).data('uid');
            var catId = $(this).data('cid');
            var url="{{ path( 'unread_evaluate', { 'userid':'userId', 'categoryid' : 'catId' } )}}";
            url = url.replace( "userId", userId );
            url = url.replace("catId", catId);
            $('#submitModal').load(url);
        });

        $('.evaluateRead').click( function() {
            var userId = $(this).data('uid');
            var catId = $(this).data('cid');
            var url="{{ path( 'read_evaluate', { 'userid':'userId', 'categoryid' : 'catId' } )}}";
            url = url.replace( "userId", userId );
            url = url.replace("catId", catId);
            $('#submitModal').load(url);
        });

        $('.viewCategory').click( function() {
            var catId = $(this).data('id');
            var url="{{ path( 'category_view_modal', { 'categoryid':'catId'}) }}";
            url = url.replace( "catId", catId );
            $('#catModal').load(url);
        });

        $('.quickpts').click( function() {
            var dashId = $(this).data('id');
            var url="{{ path( 'add_quickpoints', { 'dashboardid':'dashId'}) }}";
            url = url.replace( "dashId", dashId );
            $('#submitModal').load(url);
        });

        $('.notify').click( function() {
            var catProgId = $(this).data('id');
            var url="{{ path( 'create_notification', { 'categoryprogressid':'catProgId'}) }}";
            url = url.replace( "catProgId", catProgId );
            $('#submitModal').load(url);
        });

        $('.notify_catview').click( function() {
            var catProgId = $(this).data('id');
            var url="{{ path( 'view_notifications_by_category', { 'categoryprogressid':'catProgId'}) }}";
            url = url.replace( "catProgId", catProgId );
            $('#reviewModal').load(url);
        });

    });

</script>
{% endblock %}
