{% extends 'base.html.twig' %}
{% block body %}

        {# if the dash role is 1, display the student dashboard #}
        {% if dash.role == 1 %}
        <h1 id="dash-head">My {{ dash.course.name }} Dashboard </h1>

            <div class="row">
            <div class="col-md-3">

                <div id="progress"></div>
                <hr>
                <div id="quickpointsDisplay">
                    <h2>Quick Points: {{ dash.quickPoints }}</h2>
                </div>
                <div id="mainStudentButtons">
                    <a href="{{ dash.projectLink }}" target="_blank"><span class="glyphicon glyphicon-link"></span></a>
                    <a href="{{ dash.feedbackLink }}" target="_blank"> <span class="glyphicon glyphicon-pencil"></span></a>
               </div>
               <a href="javascript:void(0);" class="projectUpdate btn btn-primary btn-xs" data-id="{{ dash.id }}">Update</a>
            </div>
            <div class="col-md-6">
                    {% for category in dash.course.categories %}
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a href="javascript:void(0);" class="viewCategory" data-id="{{ category.id }}">
                                    {{ category.name }}({{ category.maxPoints }})
                                    </a>
                                <span class="pull-right notification-section">
                                {% if notificationlist[category.id][0] is defined %}
                                <a href="javascript:void(0);" class="viewNotificationsUnread" data-id="{{ catprogresslist[category.id].id }}" data-type="0"><span class="glyphicon glyphicon-exclamation-sign notification-icon text-danger">
                                    <span class="badge notification-badge">{{ notificationlist[category.id][0]|length }}</span>
                                </span></a>
                                {% else %}
                                <a href="javascript:void(0);" class="viewNotifications" data-id="{{ catprogresslist[category.id].id }}" data-type="0"><span class="glyphicon glyphicon-exclamation-sign notification-icon">
                                </span></a>
                                {% endif %}
                                {% if notificationlist[category.id][1] is defined %}
                                <a href="javascript:void(0);" class="viewNotificationsUnread" data-id="{{ catprogresslist[category.id].id }}" data-type="1"><span class="glyphicon glyphicon-star notification-icon text-danger">
                                    <span class="badge notification-badge">{{ notificationlist[category.id][1]|length }}</span>
                                </span></a>
                                {% else %}
                                <a href="javascript:void(0);" class="viewNotifications" data-id="{{ catprogresslist[category.id].id }}" data-type="1"><span class="glyphicon glyphicon-star notification-icon">
                                </span></a>
                                {% endif %}
                                {% if notificationlist[category.id][2] is defined %}
                                <a href="javascript:void(0);" class="viewNotificationsUnread" data-id="{{ catprogresslist[category.id].id }}" data-type="2"><span class="glyphicon glyphicon-pencil notification-icon text-danger">
                                    <span class="badge notification-badge">{{ notificationlist[category.id][2]|length }}</span>
                                </span></a>
                                {% else %}
                                <a href="javascript:void(0);" class="viewNotifications" data-id="{{ catprogresslist[category.id].id }}" data-type="2"><span class="glyphicon glyphicon-pencil notification-icon">
                                </span></a>
                                {% endif %}
                                {% if notificationlist[category.id][3] is defined %}
                                <a href="javascript:void(0);" class="viewNotifications" data-id="{{ catprogresslist[category.id].id }}" data-type="3"><span class="glyphicon glyphicon-certificate notification-icon text-danger">
                                    <span class="badge notification-badge">{{ notificationlist[category.id][3]|length }}</span>
                                </span></a>
                                {% else %}
                                <a href="javascript:void(0);" class="viewNotifications" data-id="{{ catprogresslist[category.id].id }}" data-type="3"><span class="glyphicon glyphicon-certificate notification-icon">
                                </span></a>
                                {% endif %}
                                </span>
                                </h3>

                            </div>
                            <div class="panel-body category-info">
                                <h3>Progress:</h3>
                                <div class="pointBox">
                                    <h4>Points: </h4>
                                    {% set currentprogress = (catprogresslist[category.id].pointsEarned / category.maxPoints) * 100 %}
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ catprogresslist[category.id].pointsEarned }}/{{ category.maxPoints }}}" aria-valuemin="0" aria-valuemax="{{ category.maxPoints }}" style="width: {{ currentprogress }}%;">
                                            {{ catprogresslist[category.id].pointsEarned }}/{{ category.maxPoints }}
                                        </div>
                                    </div>
                                </div>
                                <h4>Assignments: {{ catprogresslist[category.id].submissions }} out of {{ category.totalAssignments }} <a href="#assignmentInfo{{ category.id }}" data-toggle="collapse" aria-expanded="false"><span class="glyphicon glyphicon-menu-down"></span></a></h4>
                                <table class="collapse table" id="assignmentInfo{{ category.id }}">
                                {% if assignments[category.id] is defined %}
                                    {% for assignment in assignments[category.id] %}
                                        <tr>
                                        <td>{{ assignment.name }}</td>
                                        <td>{% if assignment.required %}<strong>REQ</strong>{% endif %}</td>
                                        {% if assignment.recurring %}
                                            {% if submissions[assignment.id] is defined %}
                                                {% if assignment.maxSubmissions == 0 %}
                                                    <td><a href="javascript:void(0);" class="reviewSubmits" data-id="{{ assignment.id }}">{{ submissions[assignment.id]|length }} / &#8734;</a></td>
                                                {% else %}
                                                    <td><a href="javascript:void(0);" class="reviewSubmits" data-id="{{ assignment.id }}">{{ submissions[assignment.id]|length }} / {{ assignment.maxSubmissions }}</a></td>
                                                {% endif %}
                                                {% set totalPoints = 0 %}
                                                {% for submission in submissions[assignment.id] %}
                                                    {% set totalPoints = totalPoints + submission.points %}
                                                {% endfor %}
                                                <td> Points: {{ totalPoints }}</td>
                                                {% if submissions[assignment.id]|length < assignment.maxSubmissions or assignment.maxSubmissions ==0 %}
                                                <td colspan="2"><a class="btn btn-xs btn-primary submitAssignment" data-id="{{ assignment.id }}">Submit</a></td>
                                            {% endif %}
                                            {% else %}
                                                {% if assignment.maxSubmissions == 0 %}
                                                    <td>0 / &#8734;</td>
                                                {% else %}
                                                    <td>0 / {{ assignment.maxSubmissions }}</td>
                                                {% endif %}
                                                <td colspan="2"><a class="btn btn-xs btn-primary submitAssignment" data-id="{{ assignment.id }}">Submit</a></td>
                                            {% endif %}
                                            {% else %}

                                            {% if submissions[assignment.id] is defined %}
                                                <td><a href="{{ submissions[assignment.id][0].link }}" target="_blank">{{ submissions[assignment.id][0].link[:15] ~ '...' }}</a> </td>
                                                <td colspan="2"><a class="btn btn-xs btn-warning reviseAssignment" data-id="{{ submissions[assignment.id][0].id }}">Revise</a></td>
                                                {% if submissions[assignment.id][0].points is not null %}
                                                    <td><strong>Score:</strong> {{ submissions[assignment.id][0].points }}</td>
                                                    <td><strong>Comment:</strong> {{ submissions[assignment.id][0].feedbackComments }}</td>
                                                {% else %}
                                                    <td colspan="2">NOT YET REVIEWED</td>
                                            {% endif %}
                                            {% else %}
                                                <td>{{ assignment.duedate|date('m/d') }}</td>
                                                <td colspan="2"><a class="btn btn-xs btn-primary submitAssignment" data-id="{{ assignment.id }}">Submit</a></td>
                                            {% endif %}
                                        {% endif %}
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </table>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            <div class="col-md-3">
                <div id="calendar"></div>
                <div id="dateList">
                <h4>Upcoming Assignments:</h4>
                <ul class="list-group">
                {% for assignment in assignmentsByDate if assignment.duedate|date('Y-m-d') > "now"|date('Y-m-d') %}
                    {% if loop.index < 6 %}
                    <li class="list-group-item">{{ assignment.name }}: {{ assignment.duedate|date('m/d') }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
                </div>
            </div>
            </div>

        {% endif %}
        {# end of student dashboard#}

        {# if the dash role is 0, display the placeholder for pending students #}

        {% if dash.role == 0 %}
        <div class="col-md-12">
            <h1>Your enrollment in {{ dash.course.name }} is pending instructor approval. Check back later.</h1>
        </div>
        {% endif %}

    </div>
    <div id="submitModal" class="modal fade" tabindex="-1" role="dialog">

    </div>

    <div id="catModal" class="modal fade" tabindex="-1" role="dialog">

    </div>
{% endblock %}

{% block javascripts %}
<script language="JavaScript">
    $(document).ready(function() {

        $('#calendar').fullCalendar({
            events:[
                {% for assignment in assignmentsByDate if assignment.dueDate is not null %}
                {
                    title: '{{ assignment.name }}',
                    start: '{{ assignment.duedate|date('Y-m-d') }}'
                },
                {% endfor %}

            ]
        });

        var progress = {{ totalscore }} / {{ dash.course.maxPoints }};

        var color = "#000";

        if(progress < .5){
            color = "#0c45d3";
        } else if (progress < .8){
            color = "#FFAB00";
        } else {
            color = "#00DF27";
        }

        var circle = new ProgressBar.Circle('#progress', {
            duration: 1000,
            easing: 'easeInOut',
            strokeWidth: 20,
            trailWidth: 20,
            trailColor: '#999999',
            color: color,
            text: { value: '{{ totalscore }} out of {{ dash.course.maxPoints }}',
                    className: 'scoreLabel'}
        });

        circle.animate(progress);

        $('.submitAssignment').click( function() {
            var assId = $(this).data('id');
            var url="{{ path( 'submission_new', { 'assignmentid':'assId'}) }}";
            url = url.replace( "assId", assId );
            $('#submitModal').load(url);
        });

        $('.projectUpdate').click( function() {
            var dashId = $(this).data('id');
            var url="{{ path( 'project_update', { 'dashboardid':'dashId'}) }}";
            url = url.replace( "dashId", dashId );
            $('#submitModal').load(url);
        });

        $('.reviseAssignment').click( function() {
            var subId = $(this).data('id');
            var url="{{ path( 'submission_edit', { 'submissionid':'subId'}) }}";
            url = url.replace( "subId", subId );
            $('#submitModal').load(url);
        });

        $('.viewCategory').click( function() {
            var catId = $(this).data('id');
            var url="{{ path( 'category_view_modal', { 'categoryid':'catId'}) }}";
            url = url.replace( "catId", catId );
            $('#catModal').load(url);
        });

        $('.reviewSubmits').click( function() {
            var assId = $(this).data('id');
            var url="{{ path( 'student_review', { 'assignmentid':'assId'}) }}";
            url = url.replace( "assId", assId );
            $('#catModal').load(url);
        });

        $('.viewNotifications').click( function() {
            var catId = $(this).data('id');
            var typeId = $(this).data('type');
            var url="{{ path( 'view_notifications_by_category_type', { 'categoryprogressid':'catId', 'type':'typeid'}) }}";
            url = url.replace( "catId", catId );
            url = url.replace("typeid", typeId);
            $('#catModal').load(url);
        });

        $('.viewNotificationsUnread').click( function() {
            var catId = $(this).data('id');
            var typeId = $(this).data('type');
            var url="{{ path( 'view_notifications_unread', { 'categoryprogressid':'catId', 'type':'typeid'}) }}";
            url = url.replace( "catId", catId );
            url = url.replace("typeid", typeId);
            $('#catModal').load(url);
        });

    });

</script>
{% endblock %}
