{% extends 'base.html.twig' %}
{% block body %}

        {# if the dash role is 2, display the instructor dashboard #}
    {% if dash.role == 2 %}
        <div class="row">
        <div class="col-md-12">
            <h1>My Instructor's Dashboard for {{ dash.course.name }}</h1>
            <h2>Enrolled Students</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Student Name</th>
                    {% for category in dash.course.categories %}
                    <th>{{ category.name }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for dashboard in dashlist if dashboard.role == 1%}
                <tr><td>{{ dashboard.user.firstname }} {{ dashboard.user.lastname }}</td>
                {% for category in dash.course.categories %}
                    <td>
                        {% for submission in newsubmissionlist if submission.user == dashboard.user and submission.assignment.category == category %}
                            <a href="javascript:void(0);" data-id="{{ submission.id }}" class="btn btn-primary evaluateAssignment">Evaluate {{ submission.assignment.name }} submission</a> <br>
                        {% endfor %}
                    </td>
                {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <h2>Pending Students</h2>
            <table>
                {% for dashboard in dashlist if dashboard.role == 0%}
                    <tr><td>{{ dashboard.user.firstname }} {{ dashboard.user.lastname }}</td><td><a href="{{ path('approve_student', {'userid':dashboard.user.id, 'courseid':dashboard.course.id}) }}">Enroll Student</a></td></tr>
                {% endfor %}
            </table>
        </div>
        </div>
        {% endif %}
        {# end of instructor dashboard#}

        {# if the dash role is 1, display the student dashboard #}
        {% if dash.role == 1 %}
        <div class="row">
        <div class="col-md-12">
            <h1 id="dash-head">{{ dash.user.firstname }} {{ dash.user.lastname }}'s Dashboard for {{ dash.course.name }}</h1>
        </div>
        </div>
            <div class="row">
            <div class="col-md-2">

                <div id="progress"></div>
                <h2> out of {{ dash.course.maxPoints }}</h2>
            </div>
            <div class="col-md-8">
                <div class="row">
                    {% for category in dash.course.categories %}
                    <div class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    {{ category.name }} - Worth {{ category.maxPoints }} Possible Points
                                </h3>
                            </div>
                            <div class="panel-body category-info">
                                <h3>Progress:</h3>
                                <h4>Points: {{ catprogresslist[category.id].pointsEarned }}/{{ category.maxPoints }}</h4>
                                {% set currentprogress = (catprogresslist[category.id].pointsEarned / category.maxPoints) * 100 %}
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ currentprogress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ currentprogress }}%;">
                                        {{ currentprogress }}%
                                    </div>
                                </div>
                                <h4>Assignments: {{ catprogresslist[category.id].submissions }} out of {{ category.totalAssignments }}</h4>
                                <a href="javascript:void(0);" class="btn btn-primary viewCategory" data-id="{{ category.id }}">More About This Category</a>
                                <a href="javascript:void(0);" class="btn btn-primary submitAssignment" data-id="{{ category.id }}">Submit Work in This Category</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-2">
                <div id="calendar"></div>
            </div>
            </div>

        {% endif %}
        {# end of student dashboard#}

        {# if the dash role is 0, display the placeholder for pending students #}

        {% if dash.role == 0 %}
        <div class="col-md-12">
            <h1>Your enrollment in {{ dash.course.name }} is pending instructor approval. Check back later.</h1>
        </div>
        {% endif %}

    </div>
    <div id="submitModal" class="modal fade" tabindex="-1" role="dialog">

    </div>

    <div id="catModal" class="modal fade" tabindex="-1" role="dialog">

    </div>
{% endblock %}

{% block javascripts %}
<script language="JavaScript">
    $(document).ready(function() {

        $('#calendar').fullCalendar({
        });

        var progress = {{ totalscore }} / {{ dash.course.maxPoints }};

        var color = "#000";

        if(progress < .5){
            color = "#0c45d3";
        } else if (progress < .8){
            color = "#FFAB00";
        } else {
            color = "#00DF27";
        }

        var circle = new ProgressBar.Circle('#progress', {
            duration: 1000,
            easing: 'easeInOut',
            strokeWidth: 20,
            trailWidth: 20,
            trailColor: '#999999',
            color: color,
            text: { value: '{{ totalscore }}',
                    className: 'scoreLabel'}
        });

        circle.animate(progress);

        $('.submitAssignment').click( function() {
            var catId = $(this).data('id');
            var url="{{ path( 'submission_new', { 'categoryid':'catId'}) }}";
            url = url.replace( "catId", catId );
            $('#submitModal').load(url);
        });

        $('.evaluateAssignment').click( function() {
            var submissionId = $(this).data('id');
            var url="{{ path( 'submission_evaluate', { 'submissionid':'submitId'}) }}";
            url = url.replace( "submitId", submissionId );
            $('#submitModal').load(url);
        });

        $('.viewCategory').click( function() {
            var catId = $(this).data('id');
            var url="{{ path( 'category_view_modal', { 'categoryid':'catId'}) }}";
            url = url.replace( "catId", catId );
            $('#catModal').load(url);
        });

    });

</script>
{% endblock %}
